<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>

	</properties>
	
	<typeAliases>
		
		<typeAlias type="kr.gooroom.gpms.common.service.CertForClientVO" alias="certificateVO"/>
		<typeAlias type="kr.gooroom.gpms.valid.service.AdminUserVO" alias="adminUserVO" />
		<typeAlias type="kr.gooroom.gpms.valid.service.ClientRegKeyVO" alias="clientRegKeyVO" />
		<typeAlias type="kr.gooroom.gpms.common.service.ClientGroupIpInfoVO" alias="clientGroupIpInfoVO" />
		
		<typeAlias type="kr.gooroom.gpms.common.service.ServerAddrInfoVO" alias="serverAddrInfoVO" />
		<typeAlias type="kr.gooroom.gpms.common.service.ServerVersionVO" alias="serverVersionVO" />

		<typeAlias type="kr.gooroom.gpms.account.service.SessionVO" alias="sessionVO" />
		
	</typeAliases>
	
	
</configuration>